/* GENERAL UTILITIES */

.artist{
  color: #9e9e9e !important
}
.theme--light .artist:hover{
  color: darkgrey !important
}
.theme--dark .artist:hover, .theme-jet-black .artist:hover{
  color: lightgrey !important
}

.nosel {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently supported by Chrome and Opera */
}
.hidden{
  display: none !important;
}
/* GENERAL TYPOGRAPHY */
.fwl{
  font-weight: 300!important;
}

/* DARK THEME */
.theme--dark.v-text-field--solo .v-input__slot:not(.v-input--is-focused){
  /* background-color: #161616 !important; */
  background-color: rgb(33, 33, 33)!important;
}

.theme--dark.application:not(.theme-jet-black) {
  background-color: #161616 !important;
  color: #fff !important;
}
.theme--dark .fillPlace{
  background-color: #292929 !important;
  color: #fff !important;
}
.theme--dark .v-avatar{
  background-color: transparent !important;
}
/* CARD */
.theme--dark .v-card:not(.primary){
  background-color: #1d1d1d !important;
  color: #fff !important;
}
/* SIDEBAR */
.theme--dark .v-navigation-drawer{
  background-color: #1d1d1d !important;
  color: #fff !important;
}
/* HEADER + FOOTER */
.theme--dark #foot{
  background-color: #191919 !important;
  color: #fff !important;
}
.theme--dark #navbar{
  background-color: #191919 !important;
  color: #fff !important;
}
/* TABLE */
.theme--dark .v-table{
  background-color: #1d1d1d !important;
  color: #fff !important;
}
.theme--dark .v-datatable__actions{
  background-color: #1d1d1d !important;
  color: #fff !important;
}
/* LIST */
.theme--dark .v-list{
  background-color: #1d1d1d !important;
  color: #fff !important;
}
/* TABS */
.theme--dark .v-tabs__bar{
  background-color: #1d1d1d !important;
  color: #fff !important;
}


/* ___________ JET BLACK THEME ____________*/
.theme-jet-black{
  background-color: #000 !important;
  color: #fff !important;
}
.theme-jet-black .fillPlace{
  background-color: #1d1d1d !important;
  color: #fff !important;
}

.theme-jet-black .v-avatar{
  background-color: transparent !important;
}


/* CARD */
.theme-jet-black .v-card:not(.primary){
  background-color: #000 !important;
  color: #fff !important;
}
/* SIDEBAR */
.theme-jet-black .v-navigation-drawer{
  background-color: #000 !important;
  color: #fff !important;
}
/* HEADER + FOOTER */
.theme-jet-black #foot{
  background-color: #000 !important;
  color: #fff !important;
}
.theme-jet-black #navbar{
  background-color: #000 !important;
  color: #fff !important;
}
/* TABLE */
.theme-jet-black .v-table{
  background-color: #000 !important;
  color: #fff !important;
}
.theme-jet-black .v-datatable__actions{
  background-color: #000 !important;
  color: #fff !important;
}
/* LIST */
.theme-jet-black .v-list{
  background-color: #000 !important;
  color: #fff !important;
}
/* TABS */
.theme-jet-black .v-tabs__bar{
  background-color: #000 !important;
  color: #fff !important;
}
/* .theme-jet-black .v-input input{
  background-color: #000 !important;
  color: #fff !important;
}
.theme-jet-black .v-input label{
  background-color: #000 !important;
  color: #fff !important;
} */
div.application.theme--light.theme-jet-black .v-navigation-drawer .v-icon,
div.application.theme--light.theme-jet-black #foot .v-icon,
div.application.theme--light.theme-jet-black #navbar .v-icon,
div.application.theme--light.theme-jet-black .v-navigation-drawer .v-icon,
{
  color: #fff !important;
}
/* LIGHT */
div.application.theme--light .fillPlace{
  background-color: #e3e3e3;
}

div.application.theme--dark .fillPlace{
  background-color: #616161;
}
/* ANCHOR LINKS */
div.application.theme--light a{
  color: #000;
}

div.application.theme--dark a{
  color: white;
}
